@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to ensure the window background remains transparent */
body {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}